{% extends "profile_user/base.html" %}
{% block content %}
<a href="{{ referer_page }}"><h6>Вернуться назад</h6></a>
<h3>{{ article.title }}</h3>
<a href="{% url 'user_page' article.author.user.username %}">{{ article.author }}</a>
<p>{{ article.rubric }}</p>
<p>{{ article.created|date:'d.m.Y H:i:s' }}</p>
<p>{{ article.text }}</p>
{% if user.is_authenticated %}
    {% if user.id == article.author_id %}
        <a href="{% url 'change_post' article.id %}">Изменить статью</a><br>
        <a href="{% url 'delete_post' article.id %}">Удалить статью</a>
    {% endif %}
{% endif %}
<h4>Комментарии:</h4>
    {% if comments %}
        {% for y in comments %}
        <a href="{% url 'user_page' y.author.user.username %}">{{ y.author }}</a>
        <p>{{ y.created|date:'d.m.Y H:i:s' }}</p>
        <p>{{ y }}</p><br>
        {% endfor %}
    {% else %}
        <p>Комментариев пока нет</p>
    {% endif %}

<a href="{% url 'add_comment' article.id %}">Добавить комментарий</a>

{% endblock %}
