{% extends "profile_user/base.html" %}
{% block content %}
<h1>Посты людей, на которых вы подписаны.</h1>
{% if context %}
    {% for i in context %}
	    <a href="{% url 'article_page' i.id %}"><h3>{{ i.title }}</h3></a>
	    <a href="{% url 'user_page' i.author.user.username %}">{{ i.author }}</a>
	    <p>{{ i.rubric }}</p>
	    <p>{{ i.created|date:'d.m.Y H:i:s' }}</p>
	    <p>{{ i.get_start_text }}</p>
        {% if user.is_authenticated %}
            <a href="{% url 'add_comment' i.id %}">Добавить комментарий</a><br>
        {% endif %}
	    <a href="{% url 'article_page' i.id %}"><h4>Посмотреть комментарии</h4></a>
    {% endfor %}
{% else %}
    <h4>У вас пока нет активных подписок</h4>
{% endif %}
{% endblock %}
