{% extends "profile_user/base.html" %}
{% block content %}
<a href="{{ referer_page }}"><h6>Вернуться назад</h6></a>
<h1>Все посты пользователя - {{ selected_user.profile }}</h1>
{% if subscription_flag is None %}

{% else %}
    {% if subscription_flag is True %}
        <a href="{% url 'add_subscriber' selected_user.username %}">Подписаться на {{ selected_user.profile }}</a>
    {% else %}
        <a href="{% url 'delete_subscriber' selected_user.username %}">Отписаться от {{ selected_user.profile }}</a>
    {% endif %}
{% endif %}
{% if posts %}
	{% for i in posts %}
		<a href="{% url 'article_page' i.id %}"><h3>{{ i.title }}</h3></a>
		<a href="{% url 'user_page' i.author.user.username %}">{{ i.author }}</a>
		<p>{{ i.rubric }}</p>
		<p>{{ i.created|date:'d.m.Y H:i:s' }}</p>
		<p>{{ i.get_start_text }}</p>
        {% if user.is_authenticated %}
            {% if user.id == i.author_id %}
                <a href="{% url 'change_post' i.id %}">Изменить статью</a><br>
                <a href="{% url 'delete_post' i.id %}">Удалить статью</a><br><br>
                <a href="{% url 'add_comment' i.id %}">Добавить комментарий</a><br>
            {% else %}
                <a href="{% url 'add_comment' i.id %}">Добавить комментарий</a><br>
            {% endif %}
        {% endif %}
		<a href="{% url 'article_page' i.id %}"><h4>Посмотреть комментарии</h4></a>
	{% endfor %}
{% else %}
	<p>Пользователь пока ничего не запостил, сорянчики(((</p>
{% endif %}
{% endblock %}
